@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Qahiri&family=Zen+Loop:ital@0;1&display=swap");
.navStyle {
  box-shadow: 0 2px 5px 1px rgb(64 60 67 / 15%);
  background: var(--primary-color);
  position: fixed !important;
  width: 100%;
  z-index: 20000 !important;
  transition: 0.5s !important;

  position: absolute;
}
.navDefault {
  transition: 0.5s !important;
  /* box-shadow: 0 2px 5px 1px rgb(64 60 67 / 5%); */
  background: transparent;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brandIcon {
  height: 48px;
  width: 48px;
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  margin-right: 10px;
}
.navText-color {
  color: #fff;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
}
.brandIcon-color {
  height: 48px;
  width: 48px;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.navText {
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Dancing Script", cursive;
}
.mainNav .userProfile {
  padding-right: 20px;
}

.mainNav .userProfile .avatar {
  font-size: 48px;
  cursor: pointer;
  height: 48px;
  width: 48px;
  border: 1px solid #fff;
  border-radius:50%;
}

.mainNav .nav-link {
  color: var(--primary-color) !important;
  padding-left: 20px !important;
  font-weight: 500 !important;
  transition: 0.3s;
  font-size: 16px;
  text-transform: uppercase;
}
.mainNav .nav-link:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.mainNav .nav-link:hover:after {
  width: 100%;
  background: var(--primary-color);
}
.mainNav .nav-link-change {
  color: #fff !important;
  padding-left: 20px !important;
  font-weight: 500 !important;
  transition: 0.3s;
  font-size: 16px;
  text-transform: uppercase;
}
.mainNav .nav-link-change:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.mainNav .nav-link-change:hover:after {
  width: 100%;
  background: #fff;
}
.loginBtn{
  background: var(--span-color);
  border: 1px solid #fff;
  border-radius:999px;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 9px 18px;
  color: #fff;
}
/* .loginBtn {
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: 500;
    color:#fff;
    background: #7355F7;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 1rem;
    transition: 0.4s;
}
.loginBtn:hover { 
    background : #4B24F5
} */

/* dropdown  */

.dropdown {
  position: absolute;
  top: 90px;
  right: -135px;
  width: 300px;
  transform: translateX(-45%);
  background: #fff;

  border-radius: 0 0 8px 8px;

  padding: 1rem;

  transition: 0.5s all linear;
  z-index: 1000000;
  overflow: hidden;
}

.menu {
  width: 100%;
}
.menu a {
  text-decoration: none;
}
.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background var(--speed);
  padding: 0.5rem;
  color: var(--primary-color);
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: justify;
}
.menu-item:hover {
  background: #13112713;
  color: var(--primary-color);
  transition: all 0.3s linear;
}
.menu-item .icon-button {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.icon-right {
  margin-left: auto;
}

@media (max-width: 980px) {
  .navDefault {
    background: white;
    padding: 0.8rem 0.5rem !important;
    width: 100%;
    z-index: 99 !important;
    transition: 0.5s !important;
    text-align: center;
  }
  .navStyle {
    text-align: center;
  }
  .mainNav .userProfile {
    padding: 20px 10px;
  }
  /* .mainNav .userProfile .avatar{
      color: #fff;
    } */
  .dropdown {
    top: 395px;
    right: 50%;
    left: 50%;
    width: 300px;
  }
}
