

.hero {
  width: 100%;
  min-height:80vh;
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  /* background: url("../../../images/undraw_moments_0y20.svg");
  position: relative; */
}
.hero::after {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  background: url("https://i.ibb.co/SwgdfPB/undraw-videographer-nnc7.png");
  background-repeat: no-repeat;
  background-position: center center;
  -ms-background-size: contain;
  -o-background-size: contain;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}

.hero-content {
  position: absolute;
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items:center;
  padding: 1rem;
  opacity: 1;
  border-radius: 10px;
  top: 100px;
  height: 100%;
  z-index: 10000;
  opacity: 1;

}

.hero-title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}
.hero-title-span {
  font-size: 40px;
  font-weight: 800;
  /* color: rgb(11, 236, 150); */
  color: var(--span-color);
  letter-spacing: 5px;
  text-transform: uppercase;
}
.hero-words {
  font-size: 18px;
  line-height: 1;
  color:var(--primary-color);
  line-height: 1.5;
  padding: 0 1rem; 
  text-align: justify; 
}
.hero-btn {
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 0.3em;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 5px 24px;
  background: var(--primary-color);
  color: #fff;
  
}

@media (max-width: 768px) {
  .hero{
    height: 100%;
  }
  .hero-content {
   top: 0;
  
  }
  .hero-title-span {
    font-size: 24px;
  }
  .hero-title {
     text-align: center;
    font-size: 18px;
  }
  .hero-words {
     text-align: justify;
    font-size: 16px;
  }
}
