.auth{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    background: #fff;
    outline: none;
    font-size: 1.1rem;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .social-icon:hover {
    border: 1px solid var(--primary-color);
    color: var(--span-color);
  }
  